/* Box sizing rules */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

.wrapper-inner {
  max-width: 1170px;
  margin: 0 auto;
}

.section-header-wrapper__form-button button,
.section-plans__list-item-button .button-active {
  color: #ffffff;
  border: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(2.77%, #FE985B), to(#FE4FA7));
  background: -o-linear-gradient(left, #FE985B 2.77%, #FE4FA7 100%);
  background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
  border-radius: 4px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  padding: 15px 20px;
  outline: none;
  transition: .2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.section-plans__list-item-button .button-unactive,
.section-free__button .button-unactive {
  color: #414141;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  padding: 15px 20px;
  outline: none;
  transition: .2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

@-webkit-keyframes bckanim {
  0%, 100% {
    background-color: #FE985B;
  }

  50% {
    background-color: #FE4FA7;
  }
}

@keyframes bckanim {
  0%, 100% {
    background-color: #FE985B;
  }

  50% {
    background-color: #FE4FA7;
  }
}

/* ----------------- Media queris mobile first
----------------------------------------------------------------------- */

/* ----------------- Media queris desktop first
----------------------------------------------------------------------- */

.section-header-wrapper__tittle,
.section-free__tittle {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
}

.section-promo-first__content .tittle,
.section-plans__tittle {
  font-family: Lato;
  font-size: 34px;
  font-weight: 600;
  line-height: 50px;
}

.section-footer__logo,
.section-header-logo,
.section-header-wrapper__subtittle,
.section-promo-first__content .subtittle,
.section-promo-second__item .tittle,
.section-founder__content-text,
.section-founder__content-name,
.section-founder__content-lastname {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.section-plans__list-item-price .postfix,
.section-free__subtittle {
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
}

.section-header-wrapper__form-input input,
.section-promo-first__content .text,
.section-promo-second__item .content,
.section-plans__subtittle,
.section-plans__list-item-description {
  font-family: Lato;
  font-size: 16px;
}

.section-header-wrapper__form-button button,
.section-plans__list-item-button .button-active,
.section-plans__list-item-button .button-unactive,
.section-free__button .button-unactive {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
}

.svg__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: black;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-BlackItalic.woff") format("woff"), url("../fonts/Lato-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: blackitalic;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: bolditalic;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: Regular;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: Light;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: lightitalic;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: thin;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-ThinItalic.woff") format("woff"), url("../fonts/Lato-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: Thinitalic;
}

.section-footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-footer__logo {
  color: #464646;
  text-align: center;
  margin-bottom: 30px;
}

.section-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 70px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.section-footer__nav li,
.section-footer__nav a {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #464646;
}

.section-footer__nav li + li,
.section-footer__nav a + li {
  margin-left: 60px;
}

.section-footer__nav li:hover,
.section-footer__nav li:focus,
.section-footer__nav a:hover,
.section-footer__nav a:focus {
  color: #FE50A6;
}

.section-footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-footer__copy-copyright {
  -ms-flex-item-align: center;
      align-self: center;
  color: #464646;
}

.section-footer__copy-links .helper-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-footer__copy-links .helper-links li,
.section-footer__copy-links .helper-links a {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #464646;
}

.section-footer__copy-links .helper-links li + li,
.section-footer__copy-links .helper-links a + li {
  margin-left: 20px;
}

.section-footer__copy-links .helper-links li:hover,
.section-footer__copy-links .helper-links li:focus,
.section-footer__copy-links .helper-links a:hover,
.section-footer__copy-links .helper-links a:focus {
  color: #6b2855;
}

.body {
  font-family: Lato;
  color: #414141;
}

.section-inner {
  width: 1200px;
  margin: 0 auto;
}

.section-header {
  background: url("../img/Bitmap.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}

.section-header .section-inner {
  height: 100vh;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-header::before {
  content: '';
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(52, 66, 66, 0.3);
}

.section-header-logo {
  margin-top: 35px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  color: white;
}

.section-header-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header-wrapper {
  margin: 0 auto;
}

.section-header-wrapper__tittle,
.section-header-wrapper__subtittle {
  text-align: center;
}

.section-header-wrapper__tittle {
  color: white;
  margin-bottom: 20px;
}

.section-header-wrapper__subtittle {
  color: white;
  width: 80%;
  margin: 0 auto 45px;
}

.section-header-wrapper__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-header-wrapper__form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 40px;
}

.section-header-wrapper__form-input input {
  margin: 0;
  padding: 15px 20px;
  width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  outline: none;
  border-radius: 4px;
}

.section-header-wrapper__form-input input::-webkit-input-placeholder {
  color: white;
}

.section-header-wrapper__form-input input::-moz-placeholder {
  color: white;
}

.section-header-wrapper__form-input input:-ms-input-placeholder {
  color: white;
}

.section-header-wrapper__form-input input::-ms-input-placeholder {
  color: white;
}

.section-header-wrapper__form-input input::placeholder {
  color: white;
}

.section-header-wrapper__form-button button:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(2.77%, #e98a54), to(#9e2b65));
  background: -o-linear-gradient(left, #e98a54 2.77%, #9e2b65 100%);
  background: linear-gradient(90deg, #e98a54 2.77%, #9e2b65 100%);
}

.section-header-wrapper__form-button button:active,
.section-header-wrapper__form-button button:focus {
  background: -webkit-gradient(linear, left top, right top, color-stop(2.77%, #c47445), to(#5e1a3c));
  background: -o-linear-gradient(left, #c47445 2.77%, #5e1a3c 100%);
  background: linear-gradient(90deg, #c47445 2.77%, #5e1a3c 100%);
}

.section-promo {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-promo-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-promo-first__content,
.section-promo-first__video {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.section-promo-first__content {
  padding-right: 90px;
}

.section-promo-first__content .tittle {
  margin-bottom: 55px;
}

.section-promo-first__content .subtittle {
  padding-bottom: 15px;
}

.section-promo-first__content .text {
  padding-bottom: 30px;
  color: #6C6C6C;
}

.section-promo-first__video img {
  width: 100%;
  height: auto;
}

.section-promo-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 85px;
  margin-top: 115px;
  border-top: 1px solid #E2E2E2;
  margin-bottom: 130px;
}

.section-promo-second__item {
  text-align: center;
}

.section-promo-second__item .icon {
  margin-bottom: 20px;
}

.section-promo-second__item .icon picture {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-promo-second__item .tittle {
  margin-bottom: 15px;
}

.section-promo-second__item .content {
  color: #6C6C6C;
}

.section-founder {
  background-color: #F6FAFD;
  padding-top: 35px;
}

.section-founder .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.section-founder__image {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section-founder__content {
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 50px;
  width: 50%;
}

.section-founder__content-text {
  font-weight: 400;
  margin-bottom: 20px;
}

.section-founder__content-lastname {
  font-weight: 400;
}

.section-plans {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-plans__tittle,
.section-plans__subtittle {
  text-align: center;
}

.section-plans__subtittle {
  margin: 0 auto 110px;
  width: 50%;
}

.section-plans__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.section-plans__list-item {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  padding: 60px 45px;
}

.section-plans__list-item-tittle {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.section-plans__list-item-price {
  margin-bottom: 25px;
}

.section-plans__list-item-price .prefix {
  font-size: 72px;
  line-height: 86px;
  font-weight: bold;
  color: #FE4FA7;
}

.section-plans__list-item-description {
  margin-bottom: 40px;
}

.section-plans__list-item-button .button-active {
  text-decoration: none;
}

.section-plans__list-item-button .button-active:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(2.77%, #e98a54), to(#9e2b65));
  background: -o-linear-gradient(left, #e98a54 2.77%, #9e2b65 100%);
  background: linear-gradient(90deg, #e98a54 2.77%, #9e2b65 100%);
}

.section-plans__list-item-button .button-active:active,
.section-plans__list-item-button .button-active:focus {
  background: -webkit-gradient(linear, left top, right top, color-stop(2.77%, #c47445), to(#5e1a3c));
  background: -o-linear-gradient(left, #c47445 2.77%, #5e1a3c 100%);
  background: linear-gradient(90deg, #c47445 2.77%, #5e1a3c 100%);
}

.section-plans__list-item-button .button-unactive {
  border-color: #414141;
}

.section-plans__list-item-button .button-unactive:hover,
.section-plans__list-item-button .button-unactive:focus {
  background-color: #414141;
  color: #fff;
  border-color: #414141;
}

.section-plans__list-item.active {
  background-color: #f6fafd;
}

.section-free {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FE985B;
  -webkit-animation: bckanim 8s ease infinite;
          animation: bckanim 8s ease infinite;
}

.section-free__tittle {
  margin-bottom: 30px;
  color: #fff;
}

.section-free__subtittle {
  margin-bottom: 50px;
  color: #fff;
}

.section-free__button .button-unactive {
  border: none;
}

.section-free__button .button-unactive:hover,
.section-free__button .button-unactive:focus {
  background-color: #414141;
  color: #fff;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}