// @extend + %name

%h1{
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	font-size: 55px;
	line-height: 60px;
}
%h2{
	font-family: Lato;
	font-size: 34px;
	font-weight: 600;
    line-height: 50px;
}
%h3{
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
}
%h4{
	font-family: Lato;
	font-size: 18px;
	font-weight: 600;
}
%h5{
	font-family: Lato;
	font-size: 16px;
}
%buttxt{
	font-family: Lato;
	font-size: 18px;
    font-weight: 500;
}