@import "../scss/mixins.scss";
@import "../scss/colors.scss";
@import "../scss/icons.scss";



.section-wrapper {
	display: flex;
	flex-shrink: 1;
	max-width: 1160px;
	margin: 0 auto;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
	font-family: 'Lato';

	&__logo {
		max-width: 82px;
		.link {
			&__svg {
				width: 82px;
			}
		}
	}
	&__menu {
		.list {
			display: flex;
			flex-wrap: wrap;
			font-family: 'Lato';
			list-style: none;
			align-items: baseline;
			&__item {
				margin-left: 80px;
				cursor: pointer;
				.links {
					margin: 0;
					padding: 0;
					outline: none;
					border: 0;
					background: transparent;
					text-decoration: none;
					text-decoration-line: none;
					text-decoration-color: $white;
					font-size: 24px;
					color: $white;
					cursor: pointer;
					&:hover, &:focus{ 
						color: rgb(224, 224, 224);
					}
					&:active{
						color: $txtMain;
					}
				}
			}
		}
	}
}