@import '../scss/colors.scss';

.sign-popup_signin{
	height: 400px;
	width: 300px;
}
.sign-popup_signup{
	height: 330px;
	width: 300px;
}
.sign-popup_signin, .sign-popup_signup{
	background: #FFFFFF;
	opacity: 0.85;
	box-shadow: -42.9298px 8.34471px 87.4667px rgba(51, 51, 51, 0.1945), inset 12.1158px -2.35506px 12.3425px #EFEFEF, inset -12.1158px 2.35506px 12.3425px #FFFFFF;
	border-radius: 15px;
	text-align: center;
	.sign-popup__tittle{
		padding: 20px 0;
		color: $black;
		font-family: Lato;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 24px;
	}
	.sign-popup__subtittle{
		padding-bottom: 15px;
		font-family: Lato;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		text-align: center;
		color: $black;
	}
	.signup-popup__inputs, .signin-popup__inputs{
		.input-field__text{
			height: 25px;
			width: 250px;
			margin-bottom: 10px;
			padding-top: 6px;
			padding-bottom: 6px;
			padding-left: 6px;
			border-radius: 5px;
			outline: none;	
			&::placeholder{
				font-family: Lato;
				font-size: 10px;
				font-weight: 400;
				text-align: left;
			}
		}
		.input-field__password{
			height: 25px;
			width: 250px;
			border-radius: 5px;
			margin-bottom: 10px;
			padding-top: 6px;
			padding-bottom: 6px;
			padding-left: 6px;
			outline: none;	
			&::placeholder{
				font-family: Lato;
				font-size: 10px;
				font-weight: 400;
				text-align: left;
			}
		}
		.input-field__submit{
			margin: 20px;
			border-radius: 5px;
			border: 0;
			background-color: #006DFE;
			padding: 6px 36px;
			color: white;
			text-transform: uppercase;
			outline: none;
			
		}
	}
	.sign-popup__redirect{
		.txt{
			font-family: Lato;
			font-size: 12px;
			font-style: normal;
			font-weight: 300;
			line-height: 16px;
			letter-spacing: 0px;
			text-align: center;
			a{
				text-decoration: none;
			}
		}
		.icons{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 10px 70px 20px;
			&__social{
				display: flex;
				width: 30px;
				height: 30px;
				&:hover, &:focus {
					opacity: 60%;
					box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;;
				}
				&:active{
					opacity: 80%;
					box-shadow: rgba(0, 0, 0, 0.1) 0px 23px 28px -8px, rgba(0, 0, 0, 0.04) 0px 13px 13px -5px;;
				}
				.links{
					&__icons{
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	}
}
